<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<add key="Client" value="800" />
		<add key="TableOwner" value="dbo" />
	</appSettings>
	<connectionStrings>
		<add name="KPI" connectionString="Data Source=(local);database=KPI;uid=sa;pwd=Enterprise"/>
	</connectionStrings>
</configuration>